<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util      http://www.springframework.org/schema/util/spring-util.xsd
       ">

    <context:property-placeholder location="classpath:/ext-config.properties" />

    <bean id="xmlHostLoader" class="io.interproxy.core.hostproxyloaders.XmlHostProxyLoader" scope="prototype">
        <property name="xmlFileName" value="${xmlFileName}" />
    </bean>
    <bean id="webSiteFreeProxyListHostProxyLoader" class="io.interproxy.core.hostproxyloaders.WebSiteFreeProxyListHostProxyLoader" scope="prototype" />

    <bean id="requestProxyService" class="io.interproxy.web.services.RequestProxyService" scope="singleton" init-method="init">
        <property name="proxyLoaders">
            <list value-type="io.interproxy.core.hostproxyloaders.HostProxyLoader">
                <!-- ref bean="xmlHostLoader"/ -->
                <ref bean="webSiteFreeProxyListHostProxyLoader" />
            </list>
        </property>
    </bean>
</beans>